
.message-container {
    display: flex;
    align-items: flex-start;
    margin-bottom: 1rem;
    padding: 0.5rem;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
.message-container img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 0.75rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.message-container .message {
    max-width: 75%;
    background-color: #edf2f7;
    padding: 0.75rem;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    transition: background-color 0.3s ease-in-out;
}
.message-container .message:before {
    content: '';
    position: absolute;
    top: 0;
    left: -10px;
    width: 10px;
    height: 10px;
    background-color: #edf2f7;
    border-bottom-right-radius: 10px;
    box-shadow: -2px 2px 0 2px #edf2f7;
}
.message-container .message:hover {
    background-color: #d1fff77a;
}
.message-container .message .timestamp {
    font-size: 0.75rem;
    color: #a0aec0;
    margin-top: 0.5rem;
    text-align: right;
}
#messages {
    background: linear-gradient(135deg, #5070ff25, #5070ff1c 50%, #5070ff25);
    padding: 1rem;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    height: 400px;
    scrollbar-width: thin;
    scrollbar-color: #dfdfdf #f0f0f0;
}

.salas{
    scrollbar-width: thin;
    scrollbar-color: #dfdfdf80 #ffffff;
}
#message {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    padding: 0.75rem;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    outline: none;
    transition: box-shadow 0.3s ease-in-out;
}
#message:focus {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
button {
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.05s ease-in-out, transform 0.05s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.75rem;
    background-color: #4299e1;
    color: white;
    cursor: pointer;
    border: none;
}
button:hover {
    background-color: #3182ce;
}

button:active {
    transform: translateY(1px);
}
.send-icon {
    margin-left: 0.5rem;
    transition: transform 0.3s ease-in-out;
}
button:hover .send-icon {
    transform: translateX(3px);
}

.custom-button {
    padding: 8px 16px; 
    background-color: #2563EB; 
    color: white; 
    border-left: none; 
    border-top-left-radius: 0;
    border-bottom-left-radius: 0; 
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    cursor: pointer;
}
.chat{
    transition: 1s;
}

.message-container {
    display: flex;
    margin-bottom: 10px;
}

.message-left {
    justify-content: flex-start;
}

.message-right {
    justify-content: flex-end;
}

.message {
    background-color: #f3f4f6;
    padding: 10px;
    border-radius: 10px;
    max-width: 70%;
}

.timestamp {
    font-size: 0.8em;
    color: #666;
    margin-top: 5px;
}

.profile-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 10px;
}

.username {
    font-size: 0.8em;
    color: #55555579;
}
.message-container {
    margin-bottom: 10px;
    display: flex;
    align-items: flex-start;
}
.message {
    margin-left: 10px;
    padding: 10px;
    border-radius: 5px;
    min-width: 200px;
    max-width: 600px; 
    position: relative;
    display: inline-block;
}
.my-message .message {
    background-color: #84c3ff44;
}
.other-message .message {
    background-color: #85ffe228;
}
.timestamp {
    font-size: 0.8em;
    color: #888;
    position: absolute;
    bottom: 5px;
    right: 10px;
}
.message-container {
    display: flex;
    align-items: flex-start;
    margin: 10px 0;
}

.my-message {
    justify-content: flex-end;
}

.other-message {
    justify-content: flex-start;
}


.my-message .message {
    margin-left: auto;
    margin-right: 20px;
}

.system-message {
    width: 100%;
    font-size: 0.9em;
    color: #666;
    margin: 20px 0;
}

.brutalist-border::before {
    content: '';
    position: absolute;
    top: 1.4rem;
    left: 1.4rem;
    width: 100%;
    height: 100%;
    background: #a41dff; /* teal-400 */
    z-index: -1;
    border: 4px solid black;
}


.profile-dropdown {
    display: none;
    position: absolute;
    right: 0;
    top: 70px;
    background: white;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    z-index: 10;
    border: 2px solid black;
}
.profile-dropdown a {
    display: block;
    padding: 0.5rem 1rem;
    color: black;
    text-decoration: none;
}
.profile-dropdown a:hover {
    background-color: #f3f4f6;
}
.profile-img {
    width: 5.3rem;
    height: 5.3rem;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    border: 2px solid rgb(0, 0, 0);
}

.profile-image {
    width: 6rem; /* Ajuste o tamanho conforme necessário */
    height: 6rem;
    border-radius: 50%;
    object-fit: cover;
}