<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Room: {{ chat_name }}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script>
        window.loggedInUsername = "{{ session['username'] }}";
        window.chatId = "{{ chat_id }}";
    </script>
    <script src="{{ url_for('static', filename='chat.js') }}" data-username="{{ session['username'] }}"></script>
</head>
<body class="flex items-center justify-center h-screen bg-gradient-to-r from-gray-200 via-gray-100 to-gray-200 font-mono">
    <div class="relative max-w-4xl w-full bg-white py-16 px-10 shadow-2xl border-4 border-black brutalist-border">
        <a class="back-button" href="{{ url_for('dashboard') }}">
            <svg class="back-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
              <path d="M19 11H7.83l5.58-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H19v-2z"/>
            </svg>
        </a>
        <h1 class="text-4xl font-bold mb-6 text-center text-gray-700">Chat: {{ chat_name }}</h1>
        <div id="messages" class="overflow-auto h-96">
            {% for message in messages %}
            <div class="message-container {% if message[2] == session['username'] %} my-message {% else %} other-message {% endif %}">
                {% if message[2] != session['username'] %}
                <img src="https://via.placeholder.com/50" class="message-img">
                {% endif %}
                <div class="message">
                    <div class="username">{{ message[2] }}</div>
                    <div class="message-text">{{ message[3] }}</div>
                    <span class="timestamp">{{ message[4] }}</span>
                </div>
                {% if message[2] == session['username'] %}
                <img src="https://via.placeholder.com/50" class="message-img">
                {% endif %}
            </div>
            {% endfor %}
        </div>
        <div class="flex mt-6">
            <input id="message" class="flex-grow p-2 border border-gray-300 rounded-l" placeholder="Type a message..." autocomplete="off"/>
            <button onclick="sendMessage()" class="custom-button p-2 bg-blue-500 text-white">
                Send
                <svg class="send-icon ml-2 w-5 h-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                    <path d="M2.01 21l20.99-9L2.01 3 2 10l15 2-15 2z"/>
                  </svg>  
            </button>
        </div>
    </div>
</body>
</html>
