<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="flex items-center justify-center h-screen bg-gradient-to-r from-gray-200 via-gray-100 to-gray-200">
    <div class="relative max-w-4xl w-full bg-white py-16 px-10 shadow-2xl border-4 border-black brutalist-border">
        <div class="absolute top-10 left-10 flex items-center space-x-4">
            <div class="relative">
                {% if user.image %}
                    <img src="data:image/png;base64,{{ user.image }}" alt="Imagem de Perfil" class="profile-img" id="profileImage">
                {% else %}
                    <img src="https://via.placeholder.com/150" alt="Imagem de Perfil" class="profile-img" id="profileImage">
                {% endif %}
            </div>
            <h2 class="text-2xl font-semibold">Olá, {{ username }}!</h2>
            <div id="profileDropdown" class="profile-dropdown">
                <a href="{{ url_for('configuracoes') }}" class="block mt-1 p-2 bg-blue-300 text-white font-semibold rounded-lg text-center shadow-lg hover:bg-red-400 transition duration-300">Configurações</a>
                <a href="{{ url_for('logout') }}" class="block mt-1 p-2 bg-red-300 text-white font-semibold rounded-lg text-center shadow-lg hover:bg-red-400 transition duration-300">
                    Sair
                </a>
            </div>
        </div>
        <h1 class="text-4xl font-extrabold mb-12 text-center text-gray-800 mt-16">Crie uma sala!</h1>
        <form action="{{ url_for('create_chat') }}" method="post" class="flex items-center space-x-4 mb-12 justify-center">
            <input type="text" name="chat_name" placeholder="Nome do Chat" class="flex-grow p-3 border-2 border-black rounded-none shadow-lg focus:outline-none focus:ring-2 focus:ring-black" required>
            <button type="submit" class="p-3 bg-black text-white font-semibold rounded-none shadow-lg hover:bg-gray-800 transition duration-300">
                Criar Chat
            </button>
        </form>
        <h2 class="text-2xl font-semibold mb-4 text-gray-700">Chats:</h2>
        <div class="overflow-y-auto max-h-80 salas">
            <ul class="space-y-4">
                {% for chat in chats %}
                <li class="p-2 bg-gray-50 border-2 border-black rounded-none shadow-md hover:bg-gray-200 transition duration-300">
                    <a href="{{ url_for('chat', chat_id=chat[0]) }}" class="block text-lg text-gray-800 font-medium p-3 rounded-none hover:bg-gray-200 transition duration-300">
                        {{ chat[1] }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <script>
        document.getElementById('profileImage').addEventListener('click', function() {
            var dropdown = document.getElementById('profileDropdown');
            dropdown.style.display = dropdown.style.display === 'none' ? 'block' : 'none';
        });

        // Fechar dropdown ao clicar fora dele
        window.addEventListener('click', function(e) {
            var profileImage = document.getElementById('profileImage');
            var dropdown = document.getElementById('profileDropdown');
            if (!profileImage.contains(e.target) && !dropdown.contains(e.target)) {
                dropdown.style.display = 'none';
            }
        });
    </script>
</body>
</html>
