<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100 h-screen flex items-center justify-center bg-gradient-to-r from-gray-200 via-gray-100 to-gray-200">
    <div class="relative max-w-md w-full bg-white p-8 shadow-2xl border-4 border-black brutalist-border">
        <h2 class="text-3xl font-extrabold mb-8 text-center text-black">Login</h2>
        <form action="/login" method="POST">
            <div class="mb-6">
                <label for="username" class="block text-lg font-bold text-black">Usuário</label>
                <input type="text" id="username" name="username" class="mt-1 block w-full px-3 py-2 border-2 border-black rounded-none shadow-lg focus:outline-none focus:border-black focus:ring focus:ring-black focus:ring-opacity-50">
            </div>
            <div class="mb-6">
                <label for="password" class="block text-lg font-bold text-black">Senha</label>
                <input type="password" id="password" name="password" class="mt-1 block w-full px-3 py-2 border-2 border-black rounded-none shadow-lg focus:outline-none focus:border-black focus:ring focus:ring-black focus:ring-opacity-50">
            </div>
            <div class="mb-8">
                <button type="submit" class="w-full bg-black hover:bg-gray-800 text-white font-bold py-2 px-4 rounded-none focus:outline-none focus:shadow-outline border-2 border-black">Entrar</button>
            </div>
        </form>
        <div class="text-center">
            <p class="text-lg font-bold text-black">Não tem uma conta?</p>
            <a href="/criar_conta" class="text-black hover:text-gray-800 font-bold focus:outline-none">Criar conta</a>
        </div>
    </div>
</body>
</html>
